* {
  font-family: Helvetica;
  /* The whole website is using the same font-famely. We can set it once for all instead of repeating the code everytime. */
}

h1, h2, h3, em {
  font-weight: bold;
  /* add font-weight for h1, h2, h3 so there is no need to repeat the code. */
}

h1 {
  font-size: 100px; 
  /* add h1 as the header's font-size doesn't change the font-size on the page */
}

h2 {
  font-size: 32px;
  /* same as above the font-size of the div won't change font-size */
}

header {
  background: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg);
  color: khaki;
  text-align: center;
}

.brushes #header {
  color: white;
  background-color: mediumspringgreen;
}

em {
  color: blue;
}

.frames #header1 {
  color: white;
  background-color: lightcoral;
}

.paint #header2 {
  color: white;
  background-color: skyblue;
}
