h1,
h2,
h3,
p {
  font-family: "Helvetica", sans-serif;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

header {
  background: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg);
  font-weight: bold;
  color: khaki;
  text-align: center;
}

.brushes #header {
  background-color: mediumspringgreen;
}

em {
  color: blue;
  font-weight: bold;
}

.frames #header1 {
  background-color: lightcoral;
}

.paint #header2 {
  background-color: skyblue;
}
